{{#each this}}
        <div class="menu-item" style="margin-right: 20px;">
            <p>Ім'я студента: {{name}}</p>
            <p>Вік: {{age}}</p>
            <p>Клас: {{grade}}</p>
        </div>
{{/each}}
